body{
    background-color:black;
}

body
{
   width: 310px;
   height: 100px;
}
a
{
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
p
{
   color: white;
}
h4
{
    color: blue
}